.bd-placeholder-img {
    font-size: 1.125rem;
    text-anchor: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
  }

  @media (min-width: 768px) {
    .bd-placeholder-img-lg {
      font-size: 3.5rem;
    }
  }

  .b-example-divider {
    width: 100%;
    height: 3rem;
    background-color: rgba(0, 0, 0, .1);
    border: solid rgba(0, 0, 0, .15);
    border-width: 1px 0;
    box-shadow: inset 0 .5em 1.5em rgba(0, 0, 0, .1), inset 0 .125em .5em rgba(0, 0, 0, .15);
  }

  .b-example-vr {
    flex-shrink: 0;
    width: 1.5rem;
    height: 100vh;
  }

  .bi {
    vertical-align: -.125em;
    fill: currentColor;
  }

  .nav-scroller {
    position: relative;
    z-index: 2;
    height: 2.75rem;
    overflow-y: hidden;
  }

  .nav-scroller .nav {
    display: flex;
    flex-wrap: nowrap;
    padding-bottom: 1rem;
    margin-top: -1px;
    overflow-x: auto;
    text-align: center;
    white-space: nowrap;
    -webkit-overflow-scrolling: touch;
  }
  .navbar-brand img {
    max-width: 50%; /* Ajusta el ancho del logo */
    height: auto; /* Mantiene la proporción original */
    margin-right: 15px; /* Espaciado opcional a la derecha del logo */
  }
  .btn-bd-primary {
    --bd-violet-bg: #712cf9;
    --bd-violet-rgb: 112.520718, 44.062154, 249.437846;

    --bs-btn-font-weight: 600;
    --bs-btn-color: var(--bs-white);
    --bs-btn-bg: var(--bd-violet-bg);
    --bs-btn-border-color: var(--bd-violet-bg);
    --bs-btn-hover-color: var(--bs-white);
    --bs-btn-hover-bg: #6528e0;
    --bs-btn-hover-border-color: #6528e0;
    --bs-btn-focus-shadow-rgb: var(--bd-violet-rgb);
    --bs-btn-active-color: var(--bs-btn-hover-color);
    --bs-btn-active-bg: #5a23c8;
    --bs-btn-active-border-color: #5a23c8;
  }

  .bd-mode-toggle {
    z-index: 1500;
  }

  .bd-mode-toggle .dropdown-menu .active .bi {
    display: block !important;
  }

.bg-fond {
background-color: black ; 
}

.texto-blanco {
color: white; 
}

#TITULO {

  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  color: black; 
  padding: 50px 0; 
  }
  #FINAL {
    background-color: black; /* Establece el mismo color de fondo que el encabezado */
    color: #ff9900; /* Establece el color de texto para el pie de página */
  }
  .container {
    max-width: 960px;
  }
  
  .icon-link:hover {
  color: #ff9900; 
  }
  
  
  .juego-image {
  position: relative;
  }
  
  .juego-image::after {
  content: "Black Myth: Wukong es un RPG de acción inspirado en la mitología china. La trama se basa en Viaje al Oeste, una de las cuatro grandes novelas clásicas de la literatura china."; 
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: #2d2d2d; 
  color: white;
  padding: 15px;
  opacity: 0; 
  transition: opacity 0.3s ease; /
  }
  
  .juego-image:hover::after {
  opacity: 1; 
  }
  
  .juego-image2 {
  position: relative;
  }
  
  .juego-image2::after {
  content: "Desarrollado por Treyarch y Raven, Black Ops 6 es un thriller de acción y espionaje ambientado a principios de la década de los 90, un período de transición e inestabilidad política, marcado por el final de la Guerra Fría y el ascenso de los Estados Unidos como única superpotencia."; 
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: #2d2d2d; 
  color: white;
  padding: 15px;
  opacity: 0; 
  transition: opacity 0.3s ease; /
  }
  
  .juego-image2:hover::after {
  opacity: 1; 
  }
  .flex-md-equal {
    display: flex;
    }
    
    .flex-md-equal > * {
    flex: 1;
    padding: 15px; 
    }